<h1 style="color:Violet;"><%= @trip.name %> Info</h1>
<p style="color:SlateBlue;"><b>Start Date: </b><%= @trip.start_date %></p>
<p style="color:SlateBlue;"><b>End Date: </b><%= @trip.end_date %></p>
