<h1 style="color:Violet;"><%= @trail.name %> Info</h1>
<p style="color:SlateBlue;"><b>Length: </b><%= @trail.length %></p>
<p style="color:SlateBlue;"><b>General Location Area: </b><%= @trail.address %></p>
